.container {
  background-image: url("https://images.pexels.com/photos/19766562/pexels-photo-19766562/free-photo-of-top-of-globe.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  max-width: 600px;
  margin: 30px auto;
  background-size: cover;
  padding: 15px 30px;
  color: rgb(247, 247, 247, 0.8);
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}
h1 {
  font-weight: 400;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 15px;
  font-size: 40px;
}

h2 {
  font-weight: 300;
  text-align: center;
  font-size: 25px;
  margin-top: 5px;
}

h3 {
  font-weight: 250;
  padding: 20px 0;
}

.instructions {
  margin: 20px 0;
  font-size: 15px;
  text-align: justify;
  margin-bottom: 30px;
}

.user-input {
  width: 85%;
  height: 20px;
  padding: 5px;
  border-radius: 8px;
  background-color: #f7f7f7;
  font-family: "Poppins", sans-serif;
}

.submit-button {
  padding: 5px;
  border-radius: 8px;
  background-color: #f7f7f7;
  font-family: "Poppins", sans-serif;
  color: rgb(0, 0, 0, 0.7);
  width: 12%;
  transition: all 200ms ease-in-out;
}

.submit-button:hover {
  color: #f7f7f7;
  background-color: #2f2f2f;
  border: solid 1px rgb(247, 247, 247, 0.5);
}

form {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0px;
}

.hint {
  font-size: 12px;
}

.trip-description {
  padding: 12px;
  text-align: justify;
  background-color: rgb(247, 247, 247, 0.4);
  color: rgb(0, 0, 0, 0.9);
  border-radius: 8px;
  margin-top: 25px;
  margin-bottom: 45px;
  padding: 25px;
}

.trip-description strong {
  font-weight: 400;
  font-style: italic;
  font-size: smaller;
}

footer {
  padding: 5px auto;
  margin-top: 20px;
  text-align: center;
  font-size: 13px;
}

footer a {
  color: #f7f7f7;
  font-weight: 400;
  text-decoration: none;
}

.blink {
  animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
